@charset "utf-8"; 

/*** font ***/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');

/*** reset ***/
body {margin:0;padding:0;}
hr {display:none;clear:both;}
img,fieldset {border:0 none;}
h1,h2,h3,h4,h5,dl,dt,dd,ul,li,ol,th,td,p,blockquote,form,fieldset,legend {margin:0;padding:0;}
table {border-collapse:collapse;border:0 none;}
form, p {margin: 0px; }
ol,ul,li {list-style: none;}
button {border:0 none;padding:0;margin:0;background:transparent;*overflow:visible;cursor:pointer; outline:none;}
button::-moz-focus-inner {border:0;padding:0;}
a[href^=tel] {text-decoration:inherit; color: inherit;}
a:link { color:#fff; text-decoration:none; }
a:visited { color:#fff; text-decoration:none; }
a:active { color:#fff; text-decoration:none; }
a:hover { color:#fff; text-decoration:underline; }
body,table,th,td,input,select,textarea,div {font-family:'Noto Sans KR', sans-serif; color: #333; font-style: normal; line-height:18px; margin:0; word-spacing:-1pt; word-break:break-all;}
.roboto {font-family: 'Roboto', sans-serif;}

/*** content ***/
body {background:#f6f6f6;}
h1 {font-size:120px; font-weight:500; letter-spacing: -1px; color:#dadada; text-align: center; line-height:120px; padding-top:150px;}
h1 > span {font-weight: 800; font-size:1.3em; color:#f2c7cc; letter-spacing:-8px;}
.todo_cont {max-width:650px; margin:20px auto 80px auto; text-align:center; padding:0 20px;}
.today {color:#ccc; padding:30px 0 0 0; display: block; font-size:12px;}
.todo_list li {text-align:left; background:#fff; padding:15px 15px 15px 17px; margin:10px 0; border-radius:3px; -webkit-box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.2); -moz-box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.2); box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.2); -webkit-transition: .3s all ease; -moz-transition: .3s all ease; -ms-transition: .3s all ease; transition: .3s all ease;}
.todo_list li:hover {background:#efefef;}
.todo_list li.complete {text-decoration: line-through; color:#ccc; box-shadow: none; transition: .2s all ease;}
.todo_list li .delete {float:right; display:inline-block; cursor:pointer; width:23px; height:23px; text-align: center; font-size:23px;}
.todo_list li .delete:hover {color:#f09392;}
.add_box {position: relative;}
.add_box .input_text {border:2px solid #f09392; border-radius:3px; width:100%; padding:15px 50px 15px 15px; margin-bottom:10px; box-sizing:border-box; font-size:15px; outline:none; -webkit-transition:.2s all ease-out; -moz-transition:.2s all ease-out; -ms-transition:.2s all ease-out; transition:.2s all ease-out;}
.add_box .input_text::placeholder {color:#ccc;}
.add_box .input_text::-moz-placeholder {color:#ccc;}
.add_box .input_text::-webkit-input-placeholder {color:#ccc;}
.add_box .input_text:focus {-webkit-box-shadow: 0px 0px 11px -1px rgba(255, 42, 42, 0.3); -moz-box-shadow: 0px 0px 11px -1px rgba(255, 42, 42, 0.3); -ms-box-shadow: 0px 0px 11px -1px rgba(255, 42, 42, 0.3); box-shadow: 0px 0px 11px -1px rgba(255, 42, 42, 0.3);}
.add_box .btn_add {position:absolute; right:2.5%; top:24%; font-size:0; text-indent: -99999px; width:20px; height:20px;}
.add_box .btn_add::before {position:absolute; left:0; top:50%; content:''; display:inline-block; width:20px; height:2px; background:#f09392;}
.add_box .btn_add::after {position:absolute; left:0; top:50%; content:''; display:inline-block; width:20px; height:2px; background:#f09392; transform:rotate(90deg);}
