/* **************************************** *
 * 190823 해드림 리뉴얼
 *
 * #작업자 : 최진아
 * **************************************** */

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-content-slider {

  overflow: hidden;
  white-space: nowrap;
  height:250px;
}

.renew_haedream_wrap {position:relative; min-width:1240px; background:#eef0f3;}
.renew_haedream_wrap a:active, 
.renew_haedream_wrap a:focus {outline: 0; -moz-outline-style: none;}

/***** header *****/
.renew_haedream_wrap .header_wrap {width:100%; position:absolute; top:0; left:0; background:#fff; z-index:100; }
.renew_haedream_wrap .header_wrap .inner {margin:0 auto; padding:56px 0 0 0; overflow:hidden;}
.renew_haedream_wrap .header_wrap.active {position:fixed; top:0; left:0; opacity:1 !important; -webkit-box-shadow: 0px 10px 22px -11px rgba(0,0,0,0.16); -moz-box-shadow: 0px 10px 22px -11px rgba(0,0,0,0.16); -ms-box-shadow: 0px 10px 22px -11px rgba(0,0,0,0.16); box-shadow: 0px 10px 22px -11px rgba(0,0,0,0.16); -webkit-transition:opacity 0.5s linear; -moz-transition:opacity 0.5s linear; -ms-transition:opacity 0.5s linear; transition:opacity 0.5s linear;}
.renew_haedream_wrap .header_wrap.active .inner {padding:36px 0;}
.renew_haedream_wrap .header_wrap h1 {float:left;}
.renew_haedream_wrap .header_wrap h1 .logo_godo img {width:73px;}
.renew_haedream_wrap .header_wrap h1 .logo_haedream img {width:67px;}
.renew_haedream_wrap .header_wrap .gnb {float:right;}
.renew_haedream_wrap .header_wrap .gnb li {float:left; padding-left:21px; }
.renew_haedream_wrap .header_wrap .gnb a {padding-left:15px; font-size:16px; color:#333333; font-weight:400; display:inline-block; position:relative;}
.renew_haedream_wrap .header_wrap .gnb a:hover {color:#fa2828; font-weight:500; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_gnb_dot.png') no-repeat left center;}
.renew_haedream_wrap .header_wrap .gnb li.on a {color:#fa2828; font-weight:500; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_gnb_dot.png') no-repeat left center;}

/***** content *****/
/* common */
.renew_haedream_wrap #container h4 {font-size:26px; font-weight:300; color:#333333; letter-spacing:-1px; opacity:0;}
.renew_haedream_wrap #container h4 strong {font-weight:900; font-size:40px;}
.renew_haedream_wrap #container h4.active {-webkit-animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; -moz-animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards;}
.renew_haedream_wrap #container .btn_box.active {-webkit-animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; -moz-animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards;}
.renew_haedream_wrap #container .btn_slider_prev {display:inline-block; width:40px; height:40px; font-size:0; text-indent:-9999px; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/btn_slider2_prev_off.png') no-repeat 0 0; background-size:40px 40px; cursor:pointer; transition:all 0.2s ease-out;}
.renew_haedream_wrap #container .btn_slider_next {display:inline-block; width:40px; height:40px; font-size:0; text-indent:-9999px; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/btn_slider2_next_off.png') no-repeat 0 0; background-size:40px 40px; cursor:pointer; transition:all 0.2s ease-out;}
.renew_haedream_wrap #container .btn_slider_prev:hover {background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/btn_slider2_prev.png') no-repeat 0 0; background-size:40px 40px;}
.renew_haedream_wrap #container .btn_slider_next:hover {background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/btn_slider2_next.png') no-repeat 0 0; background-size:40px 40px;}
.renew_haedream_wrap #container .slick-counter.active {-webkit-animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; -moz-animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards;}
.renew_haedream_wrap #container .visual_cont {position:relative; background:#fff; width:100%;}
.renew_haedream_wrap #container .visual_cont .inner {position:relative; width:1240px; margin:0 auto; padding:0 0 138px 0;}
.renew_haedream_wrap #container .visual_cont .txt_box {padding-top:171px;}
.renew_haedream_wrap #container .visual_cont .txt_box h3 {opacity:0; color:#333333; font-size:55px; letter-spacing:0; font-weight:200; letter-spacing:-4px;}
.renew_haedream_wrap #container .visual_cont .txt_box h3 img {width:263px;}
.renew_haedream_wrap #container .visual_cont .txt_box h3.active {-webkit-animation: fadeInRight 1.2s cubic-bezier(0, 0, 0.18, 1.055) forwards; -moz-animation: fadeInRight 1.2s cubic-bezier(0, 0, 0.18, 1.055) forwards; animation: fadeInRight 1.2s cubic-bezier(0, 0, 0.18, 1.055) forwards;}
.renew_haedream_wrap #container .visual_cont .txt_box p {opacity:0; font-size:16px; color:#3a3a3a; font-weight:400; padding:28px 0 53px 0; line-height:27px; letter-spacing:0px;}
.renew_haedream_wrap #container .visual_cont .txt_box p.active {-webkit-animation: fadeInRight 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; -moz-animation: fadeInRight 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; animation: fadeInRight 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards;}
.renew_haedream_wrap #container .visual_cont .img_custom {opacity:0;}
.renew_haedream_wrap #container .visual_cont .img_custom.active {-webkit-animation: fadeInRight2 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; -moz-animation: fadeInRight2 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; animation: fadeInRight2 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards;}
.renew_haedream_wrap #container .visual_cont .img_team {opacity:0; position:absolute; bottom:0; right:20px; z-index:1;}
.renew_haedream_wrap #container .visual_cont .img_team.active {-webkit-animation: fadeInUp2 1.2s cubic-bezier(0, 0, 0.18, 1.055) forwards; -moz-animation: fadeInUp2 1.2s cubic-bezier(0, 0, 0.18, 1.055) forwards; animation: fadeInUp2 1.2s cubic-bezier(0, 0, 0.18, 1.055) forwards;}
.renew_haedream_wrap #container .visual_cont .img_box {opacity:0;}
.renew_haedream_wrap #container .visual_cont .img_box.active {opacity:1; transition:all 0.8s ease;}
.renew_haedream_wrap #container .visual_cont .bg_obj1 {position:absolute; top:166px; left:50%; margin-left:-86px;}
.renew_haedream_wrap #container .visual_cont .bg_obj2 {position:absolute; bottom:-290px; left:50%; margin-left:428px;}
.renew_haedream_wrap #container .visual_cont .img_box.active .bg_obj1 {animation: bubble 11s linear infinite;}
.renew_haedream_wrap #container .visual_cont .img_box.active .bg_obj2 {animation: bubble2 28s linear infinite;}
.renew_haedream_wrap #container .cont1 {position:relative; background:#2e2c52; width:100%; height:340px; text-align:center; padding:65px 0 0 0; box-sizing:border-box; z-index:5;}
.renew_haedream_wrap #container .cont1 .inner {width:1240px; margin:0 auto; position:relative;}
.renew_haedream_wrap #container .cont1 .h4 {opacity:0; font-size:26px; font-weight:100; letter-spacing:-1px; color:#fff; display:block;}
.renew_haedream_wrap #container .cont1 .strong {opacity:0; font-weight:600; font-size:40px;color:#fff; letter-spacing:-1px; display:block;}
.renew_haedream_wrap #container .cont1 .h4.active {-webkit-animation: fadeInUp2 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; -moz-animation: fadeInUp2 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; animation: fadeInUp2 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards;}
.renew_haedream_wrap #container .cont1 .strong.active {-webkit-animation: fadeInUp2 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; -moz-animation: fadeInUp2 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; animation: fadeInUp2 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards;}
.renew_haedream_wrap #container .cont1 .sub_tit {opacity:0; color:#c3c9d4; font-size:16px; font-weight:200; padding:10px 0 38px 0;}
.renew_haedream_wrap #container .cont1 .sub_tit.active {-webkit-animation: fadeInUp2 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; -moz-animation: fadeInUp2 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; animation: fadeInUp2 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards;}
.renew_haedream_wrap #container .cont1 .feature_list {opacity:0; margin:0 auto; padding-top:33px; position:absolute; top:120px; left:0;}
.renew_haedream_wrap #container .cont1 .feature_list.active {-webkit-animation: fadeInUp 1.5s cubic-bezier(0, 0, 0.18, 1.055) forwards; -moz-animation: fadeInUp 1.5s cubic-bezier(0, 0, 0.18, 1.055) forwards; animation: fadeInUp 1.5s cubic-bezier(0, 0, 0.18, 1.055) forwards;}
.renew_haedream_wrap #container .cont1 .feature_list li {font-family:'Roboto' !important; width:295px; height:210px; padding:35px 35px 0 40px; margin-left:20px; box-sizing:border-box; float:left; text-align:left; -webkit-box-shadow:0px 0px 25px -4px rgba(0,0,0,0.2); -moz-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.2); -ms-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.2); box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.2); background-color:#fff; background-position:204px 118px; background-repeat:no-repeat;}
.renew_haedream_wrap #container .cont1 .feature_list li:first-child {margin-left:0;}
.renew_haedream_wrap #container .cont1 .feature_list li.feature1 {background-image:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_dif01.png');}
.renew_haedream_wrap #container .cont1 .feature_list li.feature2 {background-image:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_dif02.png');}
.renew_haedream_wrap #container .cont1 .feature_list li.feature3 {background-image:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_dif03.png');}
.renew_haedream_wrap #container .cont1 .feature_list li.feature4 {background-image:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_dif04.png');}
.renew_haedream_wrap #container .cont1 .feature_list li .num {font-size:18px; color:#fa2828; font-weight:500; }
.renew_haedream_wrap #container .cont1 .feature_list li p {font-size:20px; color:#333333; font-weight:600; letter-spacing:-1px; line-height:26px; padding-top:7px;}
.renew_haedream_wrap #container .cont1 .feature_list li p span {font-size:19px; color:#333333;}
.renew_haedream_wrap #container .cont1 .feature_list li.feature4 {background-position:217px 118px}
.renew_haedream_wrap #container .cont1 .feature_list li.feature4 p {font-size:18px;}
.renew_haedream_wrap #container .cont2 {background:#eef0f3; clear:both; padding-top:236px;}
.renew_haedream_wrap #container .cont2 .inner {width:1240px; margin:0 auto; position:relative;}
.renew_haedream_wrap #container .cont2 .inner::after {content:''; display:block; clear:both;}
.renew_haedream_wrap #container .cont2 h4 {opacity:1; float:left; padding:34px 0 0 47px;}
.renew_haedream_wrap #container .cont2 .review_slider {/* width:938px; */ width:960px; float:left; margin-left:-15px;}
.renew_haedream_wrap #container .cont2 .review_slider li.item {float:left; padding:12px 10px 0 15px; outline:0;}
.renew_haedream_wrap #container .cont2 .review_slider li ul li {overflow:hidden; float:left; background:#fff; width:454px; height:190px; padding:37px 40px 40px 0; margin-bottom:20px; box-sizing:border-box; -webkit-box-shadow: 0px 0px 19px -7px rgba(0,0,0,0.2); -moz-box-shadow: 0px 0px 19px -7px rgba(0,0,0,0.2); -ms-box-shadow: 0px 0px 19px -7px rgba(0,0,0,0.2); box-shadow: 0px 0px 19px -7px rgba(0,0,0,0.2);}
.renew_haedream_wrap #container .cont2 .review_slider li ul li.ie {-ms-box-shadow:0px 0px 25px -4px rgba(0,0,0,0.2); box-shadow:0px 0px 25px -4px rgba(0,0,0,0.2);}
.renew_haedream_wrap #container .cont2 .review_slider li ul li:first-child {margin-right:20px;}
.renew_haedream_wrap #container .cont2 .review_slider li ul li.lt {margin-left:20px;}
.renew_haedream_wrap #container .cont2 .review_slider li ul li .img_area {display:inline-block; width:150px; text-align:center; float:left;}
.renew_haedream_wrap #container .cont2 .review_slider li ul li .img_area img {display:inline-block;}
.renew_haedream_wrap #container .cont2 .review_slider .tit {font-size:14px; color:#333333; display:block; padding-bottom:8px; font-weight:500;}
.renew_haedream_wrap #container .cont2 .review_slider p {color:#666666; font-size:14px; font-weight:400; line-height:20px; padding-top:10px; letter-spacing:-0.5px;}
.renew_haedream_wrap #container .cont2 .review_slider .rating {font-size:0; text-indent:-9999px;}
.renew_haedream_wrap #container .cont2 .review_slider .rating.num5 { background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_star5.png') no-repeat 0 0;}
.renew_haedream_wrap #container .cont2 .review_slider .rating.num4 { background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_star4.png') no-repeat 0 0;}
.renew_haedream_wrap #container .cont2 .review_slider .rating.num3 { background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_star3.png') no-repeat 0 0;}
.renew_haedream_wrap #container .cont2 .review_slider .rating.num2 { background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_star2.png') no-repeat 0 0;}
.renew_haedream_wrap #container .cont2 .review_slider .rating.num1 { background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_star1.png') no-repeat 0 0;}
.renew_haedream_wrap #container .cont2 .btn_box {position:absolute; right:104px; top:129px;}
.renew_haedream_wrap #container .cont2 .btn_slider_prev {margin-right:60px; }
.renew_haedream_wrap #container .cont2 .btn_slider_next {}
.renew_haedream_wrap #container .cont2 .slick-counter {position:absolute; top:147px; right:-141px; font-family:'Roboto' !important; font-size:22px; color:#999999; letter-spacing:-0.5px;}
.renew_haedream_wrap #container .cont2 .slick-counter span {font-family:'Roboto' !important; font-size:22px; color:#999999; font-weight:100; /* vertical-align:middle; */}
.renew_haedream_wrap #container .cont2 .slick-counter .current {color:#333; font-weight:500;}
.renew_haedream_wrap #container .cont3 {background:#eef0f3;}
.renew_haedream_wrap #container .cont3 .inner {position:relative; width:1240px; margin:0 auto; text-align:center; padding:135px 0 140px 0;}
.renew_haedream_wrap #container .cont3 .service_list {padding:34px 0 40px 0;}
.renew_haedream_wrap #container .cont3 .service_list::after {content:''; display:block; clear:both;}
.renew_haedream_wrap #container .cont3 .service_list > li {opacity:0; background:#fff; width:383px; box-sizing:border-box; text-align:left; padding:40px 40px 23px 40px; -webkit-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.1); -moz-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.1); -ms-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.1); box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.1); float:left; margin-left:45px;}
.renew_haedream_wrap #container .cont3 .service_list > li:first-child {margin-left:0; padding-bottom:28px;}
.renew_haedream_wrap #container .cont3 .service_list > li.active {-webkit-animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; -moz-animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards;}
.renew_haedream_wrap #container .cont3 .service_list li .type {display:block; width:130px; margin:0 auto; box-sizing:border-box; padding:6px 0 4px 0; text-align:center; border-radius:30px; background:#fff9f9; border:1px solid #f8c3c3; font-family:'Roboto' !important; font-size:22px; color:#fa1129; font-weight:600; letter-spacing:-0.5px;}
.renew_haedream_wrap #container .cont3 .service_list li .tit {font-size:20px; color:#333333; font-weight:500; padding:16px 0 0 0; text-align:center;}
.renew_haedream_wrap #container .cont3 .service_list li .pay {display:block; padding:8px 0 18px 0; color:#FA1129; font-size:16px; font-weight:400; border-bottom:1px solid #eeeeee; text-align:center;}
.renew_haedream_wrap #container .cont3 .service_list li .pay strong {padding-right:3px; font-size:40px; letter-spacing:-1px; font-weight:800;}
.renew_haedream_wrap #container .cont3 .service_list li dl {border-bottom:1px solid #eeeeee; display:table; width:100%; padding:17px 0 15px 0;}
.renew_haedream_wrap #container .cont3 .service_list li dl dt {font-size:14px; color:#acacac; font-weight:300; display:table-cell; width:87px;}
.renew_haedream_wrap #container .cont3 .service_list li dl dd {display:table-cell; font-size:14px; color:#444444; font-weight:500;}
.renew_haedream_wrap #container .cont3 .service_list li dl dd li {position:relative; padding-bottom:8px; font-size:15px; color:#444444; font-weight:400;}
.renew_haedream_wrap #container .cont3 .service_list li dl dd em {padding-top:5px; font-size:13px; color:#999999; font-weight:200; letter-spacing:-0.7px; padding-left:7px;}
.renew_haedream_wrap #container .cont3 .service_list li dl dd .logo_img {width:88px;}
.renew_haedream_wrap #container .cont3 .service_list li dl dd .logo_img2 {vertical-align:middle; padding-right:13px;}
.renew_haedream_wrap #container .cont3 .service_list li dl.with_list {display:block; border-bottom:none;}
.renew_haedream_wrap #container .cont3 .service_list li dl.with_list dt {width:100%;}
.renew_haedream_wrap #container .cont3 .service_list li dl.with_list dd {display:block; padding-top:18px; text-align:center;}
.renew_haedream_wrap #container .cont3 .service_list li dl.with_list dd a {padding:0 13px;}
.renew_haedream_wrap #container .cont3 .service_list li dl.area {min-height:135px;}
.renew_haedream_wrap #container .cont3 .service_list li dl.solution {min-height:23px;}
.renew_haedream_wrap #container .cont3 .service_list > li.standard .type {color:#5e64db; border:1px solid #ced1fd; background:#fbfbfd;}
.renew_haedream_wrap #container .cont3 .service_list > li.standard .pay {color:#555bd0;}
.renew_haedream_wrap #container .cont3 .service_list > li.premium .type {color:#e1a626; border:1px solid #ecd198; background:#fffbf6;}
.renew_haedream_wrap #container .cont3 .service_list > li.premium .pay {color:#EFB227; font-size:22px; font-weight:600; padding:25px 0;}
.renew_haedream_wrap #container .cont3 .service_list > li.premium dl.with_list dd a {padding:0 5px;}
.renew_haedream_wrap #container .cont3 .service_list li dl dd li .btn_pop_detail {position:relative; float:right; color:#fff; background:#cdcdcd; font-size:11px; border-radius:2px; font-weight:100; padding:3px 11px 3px 4px; cursor:pointer; z-index:20;}
.renew_haedream_wrap #container .cont3 .service_list li dl dd li .btn_pop_detail::after {position:absolute; top:7px; right:5px; content:''; display:block; width:3px; height:5px; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_view_arrow.png') no-repeat 0 0;}
.renew_haedream_wrap #container .cont3 .ly_pop_detail {position:absolute; left:775px; top:569px; text-align:left; width:174px; box-sizing:border-box; padding:23px 25px 17px 30px; border:1px solid #cdcdcd; background:#fff; z-index:10; line-height:25px; letter-spacing:-0.5px; font-weight:300;}
.renew_haedream_wrap #container .cont3 .ly_pop_detail li {color:#666666; font-size:14px;}
.renew_haedream_wrap #container .cont3 .btn_apply {position:relative; display:inline-block; font-size:20px; color:#ffffff; font-weight:500; border-radius:50px; padding:18px 141px 20px 125px; background:#fa2828; cursor:pointer;}
.renew_haedream_wrap #container .cont3 .btn_apply::after {content:''; display:block; width:23px; height:23px; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/iocn_apply_arrow.png') no-repeat 0 0; background-size:23px 23px;  position:absolute; right:111px; top:20px; -webkit-transition:all .5s cubic-bezier(.165,.84,.44,1); -moz-transition:all .5s cubic-bezier(.165,.84,.44,1); -ms-transition:all .5s cubic-bezier(.165,.84,.44,1); transition:all .5s cubic-bezier(.165,.84,.44,1);}
.renew_haedream_wrap #container .cont3 .btn_apply:hover::after{-webkit-transition:all .5s cubic-bezier(.165,.84,.44,1); -moz-transition:all .5s cubic-bezier(.165,.84,.44,1); -ms-transition:all .5s cubic-bezier(.165,.84,.44,1); transition:all .5s cubic-bezier(.165,.84,.44,1); -webkit-transform: translate3d(20%, 0, 0); -moz-transform: translate3d(20%, 0, 0); -ms-transform: translate3d(20%, 0, 0); transform: translate3d(20%, 0, 0);}
.renew_haedream_wrap #container .cont4 {clear:both; background:#2e2c52; padding:75px 0 11px 0;}
.renew_haedream_wrap #container .cont4 h4 {opacity:1; color:#fff;}
.renew_haedream_wrap #container .cont4 .inner {position:relative; width:1240px; margin:0 auto; text-align:center; }
.renew_haedream_wrap #container .cont4 .marketing_slider {width:887px; margin:0 auto; overflow:hidden; padding-top:117px;}
.renew_haedream_wrap #container .cont4 .marketing_slider li {overflow:hidden; display:table; float:left; margin-left:-1px; outline:0;}
.renew_haedream_wrap #container .cont4 .marketing_slider li .img_box {float:left; display:table-cell; width:400px;}
.renew_haedream_wrap #container .cont4 .marketing_slider li .txt_box {width:427px; text-align:left; display:table-cell; vertical-align:top; padding:20px 0 0 50px;}
.renew_haedream_wrap #container .cont4 .marketing_slider li .txt_box strong {display:block; padding-bottom:10px; font-size:36px; color:#00DD56; font-weight:400; letter-spacing:-1.5px;}
.renew_haedream_wrap #container .cont4 .marketing_slider li .txt_box p {font-size:16px; color:#d3d3d3; font-weight:300; letter-spacing:0; line-height:24px; padding-top:23px;}
.renew_haedream_wrap #container .cont4 .marketing_slider li .txt_box a {font-size:14px; color:#5872E5; border-bottom:1px solid #5872E5; margin-top:22px; display:inline-block;}
.renew_haedream_wrap #container .cont4 .marketing_slider li .txt_box .bg_mark {position:relative; margin-left:-5px; font-size:40px; color:#fff; font-weight:800; letter-spacing:-1px; background:#00C849; display:inline-block; height:52px; padding:0 8px;}
.renew_haedream_wrap #container .cont4 .marketing_slider li .txt_box .bg_mark::after {position:absolute; top:-2px; right:-70px; display:block; content:''; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_marketing01.png') no-repeat 0 0; width:56px; height:49px;}
.renew_haedream_wrap #container .cont4 .marketing_slider li.ms_slide2 .txt_box .bg_mark img {vertical-align:2px;}
.renew_haedream_wrap #container .cont4 .marketing_slider li.ms_slide1 {}
.renew_haedream_wrap #container .cont4 .marketing_slider li.ms_slide1 {padding-left:56px;}
.renew_haedream_wrap #container .cont4 .marketing_slider li.ms_slide1 .txt_box {float:left;}
.renew_haedream_wrap #container .cont4 .marketing_slider li.ms_slide2 {}
.renew_haedream_wrap #container .cont4 .marketing_slider li.ms_slide2 .txt_box {padding-top:35px; padding-left:10px;}
.renew_haedream_wrap #container .cont4 .marketing_slider li.ms_slide2 .txt_box strong {color:#00F2ED;}
.renew_haedream_wrap #container .cont4 .marketing_slider li.ms_slide2 .txt_box .bg_mark {background:#00D5D1;}
.renew_haedream_wrap #container .cont4 .marketing_slider li.ms_slide2 .txt_box .bg_mark::after {background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_marketing02.png') no-repeat 0 0; width:57px; height:50px;}
.renew_haedream_wrap #container .cont4 .marketing_slider li.ms_slide3 .txt_box {padding-top:48px; padding-left:18px;}
.renew_haedream_wrap #container .cont4 .marketing_slider li.ms_slide3 .txt_box strong {color:#FF6544;}
.renew_haedream_wrap #container .cont4 .marketing_slider li.ms_slide3 .txt_box .bg_mark {background:#FA4A2E;}
.renew_haedream_wrap #container .cont4 .marketing_slider li.ms_slide3 .txt_box .bg_mark::after {background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_marketing03.png') no-repeat 0 0; width:49px; height:49px;}
.renew_haedream_wrap #container .cont4 .marketing_slider li.ms_slide3 .img_box {padding-left:35px;}
.renew_haedream_wrap #container .cont4 .swiper-pagination {position:absolute; left:50%; top:109px; margin-left:-213px;}
.renew_haedream_wrap #container .cont4 .swiper-pagination span {position:relative; float:left; outline:none; width:140px; height:46px; line-height:46px; border-bottom:1px solid #cacaca; font-size:16px; color:#cacaca; font-weight:500; letter-spacing:-0.5px; cursor:pointer; opacity:1; border-radius:0; background:none;}
.renew_haedream_wrap #container .cont4 .swiper-pagination .swiper-pagination-bullet-active {color:#fa2a27; font-weight:800; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_tab_check.png') no-repeat 10% center;}
.renew_haedream_wrap #container .cont4 .swiper-pagination .swiper-pagination-bullet-active::after {position:absolute; bottom:-1px;; content:''; display:block; width:100%; height:3px; background:#fa2828;}
.renew_haedream_wrap #container .cont4 .swiper-pagination span:nth-child(2).swiper-pagination-bullet-active {background-position:6% center;}
.renew_haedream_wrap #container .cont4 .ie_low_slider {display:none;}
.renew_haedream_wrap #container .cont4 .ie_low_slider ul {width:830px;}
.renew_haedream_wrap #container .cont4 .ie_low_slider .slick-list li {width:805px !important;}
.renew_haedream_wrap #container .cont4 .ie_low_slider li .img_box {}
.renew_haedream_wrap #container .cont4 .ie_low_slider li .txt_box {width:300px;}
.renew_haedream_wrap #container .cont4 .marketing_slider .slick-dots {position:absolute; left:50%; top:24px; margin-left:-213px;}
.renew_haedream_wrap #container .cont4 .marketing_slider .slick-dots li {float: left;}
.renew_haedream_wrap #container .cont4 .marketing_slider .slick-dots li button {width:143px; height:46px; border-bottom:1px solid #ddd; font-size:14px; color:#cacaca; background:none; letter-spacing:-0.5px; }
.renew_haedream_wrap #container .cont4 .marketing_slider .slick-dots li.slick-active button{background:none; border-bottom:3px solid #fa2a27; color:#fa2a27; font-weight:bold; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_tab_check.png') no-repeat 8% center;}
.renew_haedream_wrap #container .cont4 .marketing_slider .slick-dots.active {-webkit-animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; -moz-animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards;}
.renew_haedream_wrap #container .cont4 .btn_slider_prev {position:absolute; top:321px; left:80px; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/btn_slider3_prev_off.png') no-repeat 0 0; background-size:40px 40px;}
.renew_haedream_wrap #container .cont4 .btn_slider_next {position:absolute; top:321px; right:80px; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/btn_slider3_next_off.png') no-repeat 0 0; background-size:40px 40px;}
.renew_haedream_wrap #container .cont4 .btn_slider_prev:hover {background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/btn_slider3_prev.png') no-repeat 0 0; background-size:40px 40px;}
.renew_haedream_wrap #container .cont4 .btn_slider_next:hover {background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/btn_slider3_next.png') no-repeat 0 0; background-size:40px 40px;}
.renew_haedream_wrap #container .cont5 {clear:both; background:#eef0f3;}
.renew_haedream_wrap #container .cont5 .inner {width:1240px; margin:0 auto; text-align:center; padding:115px 0 0 0;}
.renew_haedream_wrap #container .cont5 .step_box {padding-top:33px;}
.renew_haedream_wrap #container .cont5 .step_box::after {content:''; display:block; clear:both;}
.renew_haedream_wrap #container .cont5 .step_box > li {opacity:0; position:relative; background:#fff url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_step01.png') no-repeat 41px 34px; width:370px; min-height:320px; padding:55px 40px 0 40px; -webkit-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.1); -moz-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.1); -ms-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.1); box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.1); float:left; margin-left:65px; box-sizing:border-box; text-align:left;}
.renew_haedream_wrap #container .cont5 .step_box > li:first-child {margin:0;}
.renew_haedream_wrap #container .cont5 .step_box > li.step2 {background:#fff url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_step02.png') no-repeat 41px 34px;}
.renew_haedream_wrap #container .cont5 .step_box > li.step3 {background:#fff url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_step03.png') no-repeat 41px 34px;}
.renew_haedream_wrap #container .cont5 .step_box > li::after {content:''; display:block; width:16px; height:29px; position:absolute; right:-40px; top:144px; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_step_arrow.png') no-repeat 0 0;}
.renew_haedream_wrap #container .cont5 .step_box > li:last-child::after {display:none;}
.renew_haedream_wrap #container .cont5 .step_box > li.active {-webkit-animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; -moz-animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards; animation: fadeInUp 1.25s cubic-bezier(0, 0, 0.18, 1.055) forwards;}
.renew_haedream_wrap #container .cont5 .step_box .step {font-size:16px; color:#F40B26; font-weight:500;}
.renew_haedream_wrap #container .cont5 .step_box strong {font-size:26px; color:#333333; font-weight:700; display:block; line-height:31px; padding:9px 0 29px 0; margin-bottom:26px; border-bottom:1px solid #eee; letter-spacing:-1px;}
.renew_haedream_wrap #container .cont5 .step_box li ul li {padding-bottom:5px;}
.renew_haedream_wrap #container .cont5 .step_box li ul li .num {font-weight:400; font-size:15px; color:#acacac; vertical-align:middle;}
.renew_haedream_wrap #container .cont5 .step_box li ul li .txt {font-size:15px; color:#333333; font-weight:400; padding-left:10px; display:inline-block; line-height:21px; vertical-align:text-top;}
.renew_haedream_wrap #container .cont5 .step_box li ul li .txt em {color:#999999;}
.renew_haedream_wrap #container .cont6 {background:#eef0f3;}
.renew_haedream_wrap #container .cont6 h4 {opacity:1;}
.renew_haedream_wrap #container .cont6 .inner {margin:0 auto; text-align:center; padding:153px 0 140px 0;}
.renew_haedream_wrap #container .cont6 .portfolio_box {max-width:1640px; margin:0 auto;}
.renew_haedream_wrap #container .cont6 .portfolio_box ul {padding:35px 0 40px 0; margin:0 auto;}
.renew_haedream_wrap #container .cont6 .portfolio_box ul::after {content:''; display:block; clear:both;}
.renew_haedream_wrap #container .cont6 .portfolio_box ul li {opacity:1; position:relative; width:390px; height:293px; float:left;}
.renew_haedream_wrap #container .cont6 .portfolio_box ul li img {width:390px; height:293px;}
.renew_haedream_wrap #container .cont6 .portfolio_box .info_box {position:absolute; bottom:0; left:0; width:100%; height:100%; text-align:left; z-index:10; -webkit-box-shadow: 0px 0px 44px -4px rgba(0,0,0,0.2); -moz-box-shadow: 0px 0px 44px -4px rgba(0,0,0,0.2); -ms-box-shadow: 0px 0px 44px -4px rgba(0,0,0,0.2); box-shadow: 0px 0px 44px -4px rgba(0,0,0,0.2); background:rgba(250, 40, 40, 0.8); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000, endColorstr=#88000000);/* IE 8 */-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000)";}
:root .renew_haedream_wrap #container .cont6 .portfolio_box .info_box {filter:alpha(opacity=80)\9; /* IE 9 */}
.renew_haedream_wrap #container .cont6 .portfolio_box .info_box .info_area {position: absolute; left: 39px; bottom: 39px;}
.renew_haedream_wrap #container .cont6 .portfolio_box .info_box .year {font-family:'Roboto' !important; font-size:20px; color:#ffffff; display:block; letter-spacing:-0.5px; font-weight:100;}
.renew_haedream_wrap #container .cont6 .portfolio_box .info_box strong {font-size:30px; color:#fff; font-weight:600; display:block; padding:0 0 4px 0; line-height:unset;}
.renew_haedream_wrap #container .cont6 .portfolio_box .info_box .work {font-size:16px; color:#d4d4d4; font-weight:300;}
.renew_haedream_wrap #container .cont6 .portfolio_box .btn_more {position:relative; display:inline-block; padding:13px 60px 14px 50px; border-radius:50px; background:#fa2828; color:#fff; font-size:14px; font-weight:400; cursor:pointer;}
.renew_haedream_wrap #container .cont6 .portfolio_box .btn_more::after {content:''; display:block; width:9px; height:6px; position:absolute; top:21px; right:43px; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_more_arrow.png') no-repeat 0 0; background-size:9px 5px;}
.renew_haedream_wrap #container .cont7 {background:#f7f8fa; padding:60px 0 80px 0; }
.renew_haedream_wrap #container .cont7 h4 {opacity:1;}
.renew_haedream_wrap #container .cont7 .inner {width:1240px; margin:0 auto; position:relative;}
.renew_haedream_wrap #container .cont7 .left_area {position:absolute; top:55px; left:0;}
.renew_haedream_wrap #container .cont7 .manager_slider {width:1304px; overflow:hidden; margin-left:357px; padding-top:20px; padding-left:15px;}
.renew_haedream_wrap #container .cont7 .manager_slider::after {content:''; display:block; clear:both;}
.renew_haedream_wrap #container .cont7 .manager_slider .slick-list {overflow:unset;}
.renew_haedream_wrap #container .cont7 .manager_slider li {width:224px; float:left; text-align:center; opacity:0.5;}
.renew_haedream_wrap #container .cont7 .manager_slider li .profile {padding-right:31px;}
.renew_haedream_wrap #container .cont7 .manager_slider li .name {display:block; font-size:18px; color:#333333; font-weight:800; padding:16px 0 6px 0;}
.renew_haedream_wrap #container .cont7 .manager_slider li .hash {font-size:14px; color:#999999; font-weight:200;}
.renew_haedream_wrap #container .cont7 .manager_slider li.slick-current.on {opacity:1;}
.renew_haedream_wrap #container .cont7 .manager_slider li.slick-current.on img {-webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.29); -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.29); -ms-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.29); box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.29);} 
.renew_haedream_wrap #container .cont7 .btn_box {padding-top:10px;}
.renew_haedream_wrap #container .cont7 .btn_slider_prev {margin-right:13px; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/btn_slider2_prev_off.png') no-repeat 0 0; background-size:40px 40px;}
.renew_haedream_wrap #container .cont7 .btn_slider_next {background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/btn_slider2_next_off.png') no-repeat 0 0; background-size:40px 40px;}
.renew_haedream_wrap #container .cont7 .btn_slider_prev:hover {background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/btn_slider2_prev.png') no-repeat 0 0; background-size:40px 40px;}
.renew_haedream_wrap #container .cont7 .btn_slider_next:hover {background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/btn_slider2_next.png') no-repeat 0 0; background-size:40px 40px;}
.renew_haedream_wrap #container .cont8 {background:#eef0f3;}
.renew_haedream_wrap #container .cont8 .inner {width:1240px; margin:0 auto; padding:100px 0 100px 0;}
.renew_haedream_wrap #container .cont8 .inner::after {content:''; display:block; clear:both;}
.renew_haedream_wrap #container .cont8 .map_box {float:left; margin-right:60px; position:relative;}
.renew_haedream_wrap #container .cont8 .map_box .map {-webkit-box-shadow: 0px 10px 26px -3px rgba(0,0,0,0.1); -moz-box-shadow: 0px 10px 26px -3px rgba(0,0,0,0.1); -ms-box-shadow: 0px 10px 26px -3px rgba(0,0,0,0.1); box-shadow: 0px 10px 26px -3px rgba(0,0,0,0.1);}
.renew_haedream_wrap #container .cont8 .map_box .ie_map {display:none; -webkit-box-shadow: 0px 10px 26px -3px rgba(0,0,0,0.1); -moz-box-shadow: 0px 10px 26px -3px rgba(0,0,0,0.1); -ms-box-shadow: 0px 10px 26px -3px rgba(0,0,0,0.1); box-shadow: 0px 10px 26px -3px rgba(0,0,0,0.1);}
.renew_haedream_wrap #container .cont8 .map_box .load_svg {position:absolute; left:0; top:0; width: 905px; height:498px; display: block; position: absolute;}
.renew_haedream_wrap #container .cont8 .map_box .load_svg path {display: none; stroke-dasharray: 1200; stroke-dashoffset: 0;  stroke-linecap:round; stroke-linejoin:round; stroke:#fa2828; fill:none; stroke-width: 5px; -webkit-animation: dash 2.8s cubic-bezier(0.56, 0.06, 0.39, 0.99); -moz-animation: dash 2.8s cubic-bezier(0.56, 0.06, 0.39, 0.99); animation: dash 2.8s cubic-bezier(0.56, 0.06, 0.39, 0.99);}
.renew_haedream_wrap #container .cont8 .map_box .pin {display:none; position: absolute; top:-21px; left:595px; animation: pins 0.2s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;}
.renew_haedream_wrap #container .cont8 .map_box .location_info {opacity:0; position:absolute; bottom:28px; left:249px; transition:opacity 0.7s ease;}
.renew_haedream_wrap #container .cont8 .map_box .location {opacity:0; background: #fa2828; border-radius: 100%; border: none; outline: none; align-items: center; justify-content: center; display:flex; cursor: pointer; width: 11px; height: 11px; border:3px solid #fff; position: absolute; left:220px; bottom:37px; transition:opacity 0.5s ease;}
.renew_haedream_wrap #container .cont8 .map_box .location:before {content: ''; width: 16px; height: 16px; position: absolute; border-radius: 100%; animation: ripples 1.4s ease-in-out infinite;}
.renew_haedream_wrap #container .cont8 .map_box .location:after {content: ''; width: 9px; height: 9px; position: absolute; border-radius: 100%; animation: ripples2 1.4s ease-in-out infinite;}
.renew_haedream_wrap #container .cont8 h4 {opacity:1; padding-top:35px;}
.renew_haedream_wrap #container .cont8 .addr {color:#444444; font-weight:400; font-size:16px; letter-spacing:0; padding-top:39px; line-height:23px;}
.renew_haedream_wrap #container .cont8 .addr .tit {display:block; padding-bottom:7px; font-size:16px; color:#fa2828; font-weight:500;}
.renew_haedream_wrap #container .cont9 {background:#3d414a;}
.renew_haedream_wrap #container .cont9 .inner {width:1240px; margin:0 auto; padding:80px 0 50px 0;}
.renew_haedream_wrap #container .cont9 h4 {opacity:1; font-size:22px; color:#fff; font-weight:600; letter-spacing:0.5px;}
.renew_haedream_wrap #container .cont9 h5 {color:#fff; font-size:16px; font-weight:500; padding:34px 0 15px 0;}
.renew_haedream_wrap #container .cont9 ul li {font-size:14px; color:#96979a; font-weight:400; padding-bottom:10px;}
.renew_haedream_wrap #container .cont9 ul li ul {overflow:hidden; padding:10px 0 0 6px;}
.renew_haedream_wrap #container .cont9 ul li ul li {float:left; padding-bottom:0; padding-right:10px;}
/* fixed button */
.renew_haedream_wrap .fix_btn_apply {position:fixed; bottom:88px; right:20px; display:inline-block; padding:18px 72px 20px 27px; border-radius:50px; color:#fff; background:#fa2828; font-size:16px; cursor:pointer; z-index:100; -webkit-box-shadow: -1px 14px 19px 1px rgba(0,0,0,0.23); -moz-box-shadow: -1px 14px 19px 1px rgba(0,0,0,0.23); -ms-box-shadow: -1px 14px 19px 1px rgba(0,0,0,0.23); box-shadow: -1px 14px 19px 1px rgba(0,0,0,0.23);}
.renew_haedream_wrap .fix_btn_apply::after {content:''; display:block; width:35px; height:35px; position:absolute; top:12px; right:25px; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_apply.png') no-repeat 0 0; background-size:35px 35px;}
.renew_haedream_wrap .btn_top {cursor:pointer; display:none; position:fixed; bottom:20px; right:20px; display:inline-block; width:38px; height:38px; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/btn_top.png') no-repeat 0 0; background-size:38px 38px; text-indent:-9999px; font-size:0;}
/* layer */
input[type='text'], textarea, select {transition: all 0.2s ease-in-out; outline:none;}
input[type='text']:focus, textarea:focus, select:focus {border:1px solid #8a8a8a !important;}
.ly_dim {display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);/* IE 8 */-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)"; z-index:300;}
:root .ly_dim {filter:alpha(opacity=80)\9; /* IE 9 */}
.ly_dim.on {display:block;}
.renew_haedream_wrap .ly_pop_wrap {display:none; position:absolute; width:780px; left:50%; top:50%; /* height:777px; */ background:#fff; box-sizing:border-box; z-index:300;}
.renew_haedream_wrap .counsel_apply_cont {position:relative;}
.renew_haedream_wrap .counsel_apply_cont .ca_tit {border-bottom:1px solid #d6d6d6; padding:21px;}
.renew_haedream_wrap .counsel_apply_cont .ca_tit span {font-size:14px; color:#999999; padding-left:19px;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .type_menu {float:left; padding:37px 40px 40px 40px;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .type_menu li {position:relative; width:176px; border-bottom:1px solid #e9e9f1; padding:24px 0 28px 0;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .type_menu li:first-child {border-top:1px solid #e9e9f1;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .type_menu li.active::after {display:block; content:''; border:3px solid #fa2828; width:233px; height:133px; border-radius:20px; position:absolute; top:-1px; left:-30px; -webkit-box-shadow: 0px 7px 11px -4px rgba(0,0,0,0.21); -moz-box-shadow: 0px 7px 11px -4px rgba(0,0,0,0.21); -ms-box-shadow: 0px 7px 11px -4px rgba(0,0,0,0.21); box-shadow: 0px 7px 11px -4px rgba(0,0,0,0.21);}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .type_menu .tit {padding-bottom:18px;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .type_menu .tit strong {display:block; padding-bottom:4px; font-size:14px; color:#333333; font-weight:500;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .type_menu .tit p {font-size:14px; font-weight:400; color:#999999}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_radio_box {position: relative; display:inline-block; cursor:pointer;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_radio_box .radio-origin {position: absolute; top: 7px; left: 7px; z-index: -1;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_radio_box .radio-origin:checked+.radio-clone {background-position: 0 -28px;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_radio_box .radio-clone {display: inline-block; width: 27px; height: 28px; vertical-align: middle; background: url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_radio.png') 0 0 no-repeat; }
.renew_haedream_wrap .counsel_apply_cont .ca_cont .radio_label .input_position {position:absolute; top:21px; right:0;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .radio_label .label_name {position:relative; z-index:10;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .radio_label .label_name span {display:block; font-family:'Roboto' !important; font-size:22px; color:#E74343; font-weight:400; padding-bottom:4px;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .radio_label .label_name p {font-size:14px; color:#333333; font-weight:300;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont li.standard .radio_label .label_name span {color:#5E64DB;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont li.premium .radio_label .label_name span {color:#E3AC34;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box {float:right; width:522px; background:#f9f9f9; box-sizing:border-box; padding:35px 60px 40px 60px;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box h4 {font-size:26px; color:#333333; font-weight:600; letter-spacing:-1.5px; padding-bottom:25px;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box .input_text_box {margin-bottom:10px;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box .input_text_box .warning_txt {font-size:13px; color:#fa2828; padding:7px 0 0 10px; display:none;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box input {display:block; width:100%; padding:0 20px; border:1px solid #e3e3ed; height:47px; line-height:47px; border-radius:4px; box-sizing:border-box; color:#333333; font-size:14px; letter-spacing:-1px;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box select {-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box select::-ms-expand { display: none; }
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box select {width:100%; padding:0 20px; border:1px solid #e3e3ed; height:47px; line-height:47px; border-radius:4px; letter-spacing:-1px; box-sizing:border-box; color:#333333; font-size:14px; background:#fff url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_select_arrow.png') no-repeat 95% center; }
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box option {color:#333;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box textarea {padding:20px; border:1px solid #e3e3ed; border-radius:4px; width:100%; height:112px; box-sizing:border-box; resize:none; color:#333333; font-size:14px; letter-spacing:-1px;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box input::-webkit-input-placeholder {color:#bcbcbc;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box input::-moz-input-placeholder {color:#bcbcbc;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box input::-ms-input-placeholder {color:#bcbcbc !important;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box input:-ms-input-placeholder {color:#bcbcbc !important;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box input::placeholder {color:#bcbcbc;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box textarea::-webkit-input-placeholder {color:#bcbcbc;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box textarea::-moz-input-placeholder {color:#bcbcbc;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box textarea::-ms-input-placeholder {color:#bcbcbc !important;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box textarea:-ms-input-placeholder {color:#bcbcbc !important;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box textarea::placeholder {color:#bcbcbc;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box .input_text_box.on input,
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box .input_text_box.on select {border:1px solid #fa2828;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_box .input_text_box.on .warning_txt {font-size:13px; color:#fa2828; padding:7px 0 0 10px; display:block;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .agree_check_box {position:relative; padding-top:11px;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_check_box {position: relative; display:inline-block; cursor:pointer;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_check_box .check-origin {position: absolute; top: 4px; left: 2px; z-index: -1;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_check_box .check-origin:checked+.check-clone {background-position: 0 -20px;}
.renew_haedream_wrap .counsel_apply_cont .ca_cont .input_check_box .check-clone {display: inline-block; width: 20px; height: 20px; vertical-align: middle; background: url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_check.png') 0 0 no-repeat; }
.renew_haedream_wrap .counsel_apply_cont .ca_cont .check_label .label_txt {color:#333333; font-size:14px; font-weight:300; vertical-align:middle; padding-left:4px;}
.renew_haedream_wrap .counsel_apply_cont .btn_agree_view {cursor:pointer;}
.renew_haedream_wrap .counsel_apply_cont .btn_agree_view {position:relative; float:right; color:#fff; background:#cdcdcd; font-size:11px; border-radius:3px; font-weight:100; padding:3px 11px 3px 4px; cursor:pointer;}
.renew_haedream_wrap .counsel_apply_cont .btn_agree_view::after {position:absolute; top:7px; right:5px; content:''; display:block; width:3px; height:5px; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_view_arrow.png') no-repeat 0 0;}
.renew_haedream_wrap .counsel_apply_cont .ly_agree_box {position:relative; margin-top:10px; padding:19px; height:106px; overflow-y:scroll; background:#fff; border:1px solid #e3e3ed; border-radius:4px; box-sizing:border-box; width:100%; color:#999999; font-size:14px; font-weight:300; line-height:24px;}
.renew_haedream_wrap .counsel_apply_cont .ly_agree_box strong{font-size:15px; color:#333333; display:block; padding-bottom:5px; font-weight:400; letter-spacing:-1px;}
.renew_haedream_wrap .counsel_apply_cont .ly_agree_box .agree_box_terms p{margin-bottom:10px; font-size:14px; color:#999999; font-weight:200; letter-spacing:-0.5px; line-height:24px;}
.renew_haedream_wrap .counsel_apply_cont .ly_agree_box .agree_box_terms p:first-child{margin-bottom:0;}
.renew_haedream_wrap .counsel_apply_cont .ly_agree_box .agree_box_terms .boldLine{font-size:13px; font-weight:400; text-decoration:underline;line-height:21px;}
.renew_haedream_wrap .counsel_apply_cont .ly_agree_box .agree_box_terms table{width:100%;table-layout:fixed;}
.renew_haedream_wrap .counsel_apply_cont .ly_agree_box .agree_box_terms table th,
.renew_haedream_wrap .counsel_apply_cont .ly_agree_box .agree_box_terms table td{font-size:13px;color:#393939;border:#dedede 1px solid;padding:15px 14px; font-weight:300;}
.renew_haedream_wrap .counsel_apply_cont .ly_agree_box .agree_box_terms table td.alignC{text-align:center;}
.renew_haedream_wrap .counsel_apply_cont .ly_agree_box label {font-size:12px; color:#555555; letter-spacing:-0.5px; vertical-align:3px;}
.renew_haedream_wrap .counsel_apply_cont .ly_agree_box label span {padding:0 0 0 5px;}
.renew_haedream_wrap .counsel_apply_cont .ly_agree_box .btn_ly_close {position:absolute; top:19px; right:19px; display:block; width:11px; height:11px; font-size:0; text-indent:-9999px; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_ly_small_x.png') no-repeat 0 0; cursor:pointer;}
.renew_haedream_wrap .counsel_apply_cont .btn_counsel_apply {margin-top:37px; width:100%; padding:18px 0; display:inline-block; border-radius:50px; color:#fff; background:#fa2828; font-size:18px; font-weight:600; letter-spacing:-1px;}
.renew_haedream_wrap .counsel_apply_cont .btn_ly_pop_close {position:absolute; top:18px; right:20px; display:block; width:25px; height:25px; font-size:0; text-indent:-9999px; background:url('//img.godo.co.kr/godomall/promotion/haedream/renew19/icon_ly_x.png') no-repeat 0 0; cursor:pointer;}


/* animation */
@keyframes dash {
	from {
		stroke-dashoffset: 1200;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes ripples {
	0% {
		border: 1px solid transparent;
	}
	100% {
		border: 16px solid #f6c4cb;
		opacity: 0;
	}
}

@keyframes ripples2 {
	0% {
		border: 1px solid transparent;
	}
	100% {
		border: 9px solid #e48f91;
		opacity: 0;
	}
}

@keyframes pins {
	0% {
		
	}
	100% {
		-webkit-transform: translateY(35px);
		-moz-transform: translateY(35px);
		-ms-transform: translateY(35px);
		transform: translateY(35px);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100px);
		-moz-transform: translateY(100px);
		-ms-transform: translateY(100px);
		transform: translateY(100px); 
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0); 
	} 
}

@keyframes fadeInUp2 {
	0% {
		opacity: 0;
		-webkit-transform: translateY(60px);
		-moz-transform: translateY(60px);
		-ms-transform: translateY(60px);
		transform: translateY(60px); 
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0); 
	} 
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(60px);
		-moz-transform: translateX(60px);
		-ms-transform: translateX(60px);
		transform: translateX(60px); 
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0); 
	} 
}

@keyframes fadeInRight2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(40px);
		-moz-transform: translateX(40px);
		-ms-transform: translateX(40px);
		transform: translateX(40px); 
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0); 
	} 
}

@keyframes bubble {
  0% {
    -webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
  }
  25% {
  opacity: 1;
    -webkit-transform: translate(40%, 40%);
	-moz-transform: translate(40%, 40%);
	-ms-transform: translate(40%, 40%);
	transform: translate(40%, 40%);
  }
  50% {
    -webkit-transform: translate(0%, 60%);
	-moz-transform: translate(0%, 60%);
	-ms-transform: translate(0%, 60%);
	transform: translate(0%, 60%);
  }
  75% {
    -webkit-transform: translate(-30%, 50%);
	-moz-transform: translate(-30%, 50%);
	-ms-transform: translate(-30%, 50%);
	transform: translate(-30%, 50%);
  }
}

@keyframes bubble2 {
  0% {
    -webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-30%, -30%);
	-moz-transform: translate(-30%, -30%);
	-ms-transform: translate(-30%, -30%);
	transform: translate(-30%, -30%);
  }
  50% {
    -webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
  }
  75% {
    -webkit-transform: translate(-20%, -40%);
	-moz-transform: translate(-20%, -40%);
	-ms-transform: translate(-20%, -40%);
	transform: translate(-20%, -40%);
  }
}

/* min-width : 1562px */
@media (min-width:1562px){
	.renew_haedream_wrap .header_wrap .inner {width:1562px;}
}