@charset "euc-kr";

/*
	고도몰 스타일 초기화 css 입니다.
	작성자 :류인상
	최초작성 :2014.05.26
*/

/*
	초기화
*/

* {
	margin:0;
	padding:0;
}
body,pre {
	color:#555;
	font-family:Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;
	font-size:12px;
	line-height:1.3;
}
h1,h2,h3,h4,h5,h6 {
	color:#555;
	font-size:12px;
}
ul, ol , li {list-style:none;}
table, th ,td {
	margin:0;
	padding:0;
	border-spacing:0;
	border:0;
	border-collapse:collapse;
	/*
	vertical-align:middle;
	*/
}
caption,legend {
	width:0;
	height:0;
	visibility:hidden;
	font-size:0;
	line-height:0;
	text-indent:-9999px;
}
fieldset, abbr, acronym {border:0;}
address, caption, cite, code, dfn, em, var {font-style:normal;}
hr {display:none;}
img {
	border:none;
	vertical-align:top;
}
a {
	color:#555;
	text-decoration:none;
	/*outline:none;*/
}
textarea{overflow:auto;}
textarea {
	outline:none;
	color:#555;
	font-size:12px;
	font-family:Malgun Gothic,'맑은 고딕',Helvetica,AppleGothic,dotum,'돋움',sans-serif;
}
label {
	cursor:pointer;
	vertical-align:top;
}
input, select {
	border-radius:0;
	outline:none;
	font-family:Malgun Gothic,'맑은 고딕',Helvetica,AppleGothic,dotum,'돋움',sans-serif;
	color:#555;
}
select {
	outline:none;
	height:20px;
	vertical-align:top;
	color:#555;
}
button {
	cursor:pointer;
	background:none;
	border:none;
	vertical-align:top;
	outline:none;
	font-family:Malgun Gothic,'맑은 고딕',Helvetica,AppleGothic,dotum,'돋움',sans-serif;
	font-size:100%;
}
button span {
	position:relative;
	z-index:-1;
}
.hidden {
	overflow:hidden;
	position:absolute;
	top:-9999px;
	left:-9999px;
	visibility:hidden;
	width:0;
	height:0;
	margin:0;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
	z-index:-9999;
}
input.radio {
	width:13px;
	height:13px;
	vertical-align:top;
}
input.text,
input.password,
input.edit {
	padding:0 5px;
	outline:none;
	font-size:12px;
}
input.checkbox {
	width:13px;
	height:13px;
	vertical-align:top;
}
input.image {
	vertical-align:top;
	border:none;
	cursor:pointer;
}
input.button {
	border:none;
	background:none;
	cursor:pointer;
}
input.submit {
	cursor:pointer;
	vertical-align:top;
	font-size:100%;
}
input.text.txtr {
	text-align:right;
}
.text-notover {
	display:block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.section-small{
	overflow: hidden;
	margin: 10px 0;
}
.js-hide {
	display:none;
}



/* 20151127 공용class 추가 윤태건 */
.m1{
	margin-top: 10px;
}
.m2{
	margin-top: 20px;
}
.m3{
	margin-top: 30px;
}
.m4{
	margin-top: 40px;
}
.m5{
	margin-top: 50px;
}
.m7{
	margin-top: 70px;
}
.pos-r{
	position: relative;
}
.tbl-f{
	table-layout: fixed;
}
.ta-c{
	text-align: center;
}
.ta-l{
	text-align: left;
}
.ta-r{
	text-align: right;
}
.va-m{
	vertical-align: middle;
}
.c-red {
	color: #ff5a58 !important;
}
.c-gdred{
	color: #fa2828;
}
.c-black{
	color: #000;
}
/* 20151127 공용class 추가 윤태건 // */


/* 20151230 윤태건 추가 */
.bulltextv2{
	margin: 18px 0 0;
}
.bulltextv2 li+li{
	padding-top: 8px;
}
.bulltextv2 li{
	color: #333;
}
.bulltextv2 .bulltextv2-sub1{
	margin-left: 16px;
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
.arr1{
	position: absolute;
	top: 6px;
	left: 25px;
}
.ov-highlight{
	position: absolute;
	top: 58px;
	left: 0;
}

/* 20151230 윤태건 추가 // */

/* 랜돔배너 이미지 가리기 */
.is-random-banner a{display: none;}