@charset "euc-kr";
/*
	고도몰 레이아웃 css 입니다.
	작성자 :류인상
	최초작성 :2014.06.02
*/


/* 서브 레이아웃 */
div.sub-wrap {
	position:relative;
	overflow:hidden;
	width:990px;
	margin:0 auto
}
div.sub-wrap > div.left {
	float:left;
	width:775px;
	border-right:1px solid #e6e6e6
}
div.sub-wrap > div.right {
	float:right;
	width:214px
}

/*
	loginbox
*/
div.layer-login {
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	z-index:6000;
	width:538px;
	height:314px;
	margin:-157px 0 0 -269px;
	background:url('//img.godo.co.kr/godomall/etc/login/layer_box.png') no-repeat left top;
}
div.layer-login.show {
	display:block;
}
div.layer-login div.container {
	position:relative;
	width:478px;
	margin:0 auto;
	padding:25px 0 0;
}
div.layer-login div.container button.close {
	position:absolute;
	top:30px;
	right:0;
	width:22px;
	height:22px;
	background:url('//img.godo.co.kr/godomall/common/layer_close.gif') no-repeat left top;
	text-indent:-9999px;
}
div.layer-login div.container h2 {
	padding:0 0 18px 6px;
	border-bottom:1px solid #555;
	color:#222;
	font-size:22px;
}
div.layer-login div.container div.cnt {
	overflow:hidden;
	padding:20px 0 0;
}
div.layer-login div.container div.cnt div.input-info {
	float:left;
	width:271px;
	padding:0 0 0 6px;
}
div.layer-login div.container div.cnt div.input-info input.label-id,
div.layer-login div.container div.cnt div.input-info input.label-pw {
	display:block;
	width:254px;
	height:38px;
	margin:0 0 9px;
	padding:0 0 0 15px;
	border:1px solid #d4d4d4;
	font-size:14px;
	line-height:38px;
}
div.layer-login div.container div.cnt div.input-info input.label-id.text {
	background:url('//img.godo.co.kr/godomall/etc/login/layer_label_id.gif') no-repeat 15px 12px;
}
div.layer-login div.container div.cnt div.input-info input.label-pw.text {
	background:url('//img.godo.co.kr/godomall/etc/login/layer_label_pw.gif') no-repeat 15px 12px;
}
div.layer-login div.container div.cnt div.input-info input.image {}
div.layer-login div.container div.cnt div.input-info div {
	padding:2px 0 20px;
	letter-spacing:-1px;
}
div.layer-login div.container div.cnt div.input-info div input.checkbox {
	vertical-align:-2px;
}
div.layer-login div.container div.cnt div.input-info div label {
	margin:0 5px 0 3px;
}
div.layer-login div.container div.cnt div.input-info div a {
	padding:0 4px 0 9px;
	background:url('//img.godo.co.kr/godomall/etc/login/layer_bar.gif') no-repeat left 5px;
}
div.layer-login div.container div.cnt div.input-info div a.pw {
	padding-left:3px;
	background:none;
}
div.layer-login div.container div.cnt div.input-info div a:hover {
	text-decoration:underline;
}
div.layer-login div.container div.cnt a.banner {
	float:right;
}

/*
	레이어 bg
*/
div#layerBg {
	display:none;
	position:fixed;
	left:0;
	top:0;
	z-index:400;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
}
div#layerBg.show {
	display:block;
}
/* 서비스 전체보기 버튼 클릭시 */
div#layerBg.show-all-service {
	display:block;
	z-index:250;
}

/*
	페이징
*/
div.paging {
	padding:40px 0 0;
	text-align:center;
}
div.paging a {
	display:inline-block;
	width:25px;
	height:21px;
	padding:4px 0 0;
	font-size:12px;
	text-align:center;
}
div.paging a.btn  {
	height:18px;
	padding:7px 0 0;
	vertical-align:middle;
}
div.paging a.on {
	background:#fe5a58;
	color:#FFF;
}

/* 구글 통계 iframe 막기 */
iframe[name=google_conversion_frame] {display:none;}


/*
layer 범용 사용을 위해 .mall-view 를 삭제함.
20150123-태건
*/
#layerSms {
	display:none;
	position:absolute;
	top:255px;
	right:-11px;
	left:auto;
	width:343px;
	height:304px;
	background:url('//img.godo.co.kr/godomall/mall/layer_sms.gif') no-repeat left top;
}
#layerSms > div {
	position:relative;
	padding:0 30px;
}
#layerSms h3 {
	padding:26px 0 5px;
	color:#222;
	font-size:20px;
}
#layerSms span {
	color:#888;
	font-size:13px;
}
#layerSms div.choice {
	padding:45px 0 0;
	text-align:center;
}
#layerSms div.choice span {
	margin:0 10px;
}
#layerSms div.choice span input.radio {
	vertical-align:middle;
}
#layerSms div.choice span label {}
#layerSms div.number {
	padding:30px 0 0;
	text-align:center;
}
#layerSms div.number input.text {
	width:53px;
	height:38px;
	border:1px solid #d3d3d3;
	font-size:14px;
	line-height:38px;
}
#layerSms button.send {
	display:block;
	width:271px;
	height:46px;
	margin:21px 0 0 6px;
	text-indent:-9999px;
}
#layerSms button.close {
	display:block;
	position:absolute;
	top:30px;
	right:30px;
	width:22px;
	height:22px;
	text-indent:-9999px;
}


/*
select layer 관련
20150123-태건
*/
#popframeMemberLogin{
	background: transaprent;
}
.layer-login.layer-v2.w-medium{
	width: 400px;
}
.layer-login.layer-v2{
	background: #fff;
	border: 1px solid #555;
	border-radius: 12px;
	min-height: 200px;
	height: auto;
	width: auto;
	min-width: 200px;
	margin: 0;
	position: static;
	top: 0;
	left: 0;
}
.layer-login.layer-v2 .container{
	padding: 25px;
	margin: 0;
	width: auto;
}
.layer-login.layer-v2 .btn{
	width: 100%;
	padding: 10px 0 12px;
	background: #ff5f5d;
	color: #fff;
	font-size: 15px;
	line-height: 1.2em;
	font-weight: bold;
	border-bottom:2px solid #df3735;
	display: inline-block;
	border-radius:4px;
}

.layer-login.layer-v2 .ta-c{
	text-align: center;
}
.layer-login.layer-v2 .btn-l{
	width: 60%;
}
.layer-login.layer-v2 .container .close{
	top: 30px;
	right: 26px;
}

.layer-login.layer-v2 .container .cnt .input-info{
	width: auto;
	padding: 0;	
	float: none;
}

.layer-login.layer-v2 .container .cnt .input-info .infor-red-text {
	color: #fa2828;
	margin-bottom: 22px;
}

.layer-login.layer-v2 .container .cnt .input-info .infor-tit {
	font-size: 18px;
	font-weight: bold;
	color: #1f1f1f;
	margin: 10px 0 30px;
}

.layer-login.layer-v2 .container .cnt .input-info .alignC {
	text-align: center;
}

.layer-login.layer-v2 .container .cnt .input-info .btn-mall-request {
	z-index: 0;
	background: url('//img.godo.co.kr/godomall/power/my-app/ico-white-arrow.png') right center no-repeat;
	padding-right: 20px;
}

.selectv2{
	width: 100%;
	height: auto;
	color: #333;
	padding: 8px;
	font-size: 12px;
	margin: 0 0 15px 0;
	line-height: 1.2em;
	border: 1px solid #d3d3d3;
	z-index: 5;
	background: transparent;
}
.selectv2:focus{
	border: 1px solid #999;
}

.table-form1{
	width: 100%;
}
.table-form1 th{
	text-align: left;
	font-weight: bold;
	font-size: 14px;
}
.table-form1 td{
	padding: 2px 0;
}
.input-text1{
	height: 38px;
	border: 1px solid #d4d4d4;
	font-size: 14px;
	line-height: 38px;
	padding: 0 0 0 10px;
	*text-indent:0;
}
.input-text1[readonly]{
	border: 1px solid transparent;
}
.textarea1{
	border: 1px solid #d4d4d4;
	width: 100%;
	*width: 99%;
	height: 100px;
	padding: 10px;
	*padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	resize: vertical;
}
.input-w{
	width: 100%;
	*width: 99%;
	padding: 0 0 0 10px;
	*padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}
.form-last{
	margin: 14px 0 0;
}


/*긴급공지 팝업*/
.caution_popup{display: none;position: fixed;top: 0px;left: 0px;width: 100%; height: 100%;z-index: 5002;}
.caution_popup.on{display: block;}
.caution_popup .caution_popup_bg{width: 100%;   height: 100%;background-color: rgb(0, 0, 0);opacity: 0.5;}
.caution_popup_box{position: absolute; left: 50%;top: 50%;width: 517px;overflow: hidden;margin: -310px 0 0 -260px;}
.caution_top{position: relative;width: 457px; height: 30px;background-color: #fa2828;padding: 30px;}
.caution_top a{position: absolute;top: 30px;right:35px;}
.caution_cont{overflow: hidden;}
.caution_text{overflow: hidden;display: block;font-size: 13px; color: #797979;background-color: #f8f8f8;padding: 5px 30px 25px 30px;}
.caution_text span{display: block;margin: 17px 0 0 0;line-height: 1.5em;}
.caution_box{overflow: hidden;display: block;background-color: #fff;padding: 0 30px 30px 30px;}
.caution_box > span{display: block;font-size: 14px; color: #fa2828;font-weight: bold;margin: 27px 0 0 0;}
.caution_box ul{margin: 10px 0 0 0;}
.caution_box ul li{min-height: 25px;margin: 5px 0 0 0;}
.caution_box ul li span{font-size: 14px;color: #333;letter-spacing:0.5px;}
.caution_box p{display: block;font-size: 13px; color: #2d90ed;margin: 14px 0 0 0;letter-spacing: -0.5px;line-height: 1.6em;}